* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

.item {
  width: 175px;
  height: 250px;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
